.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}





.col-1 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 1);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    max-width: calc((100% / 12) * 1);
}



.col-2 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 2);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    text-align: center;
}

.col-5 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 5);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    text-align: center;
}


.col-12 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 12);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    text-align: center;
}

.col-8 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 12);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    text-align: center;
}


.col-6 {
    display: flex;
    align-items: center;
    margin: 1px;
    flex-basis: calc((100% / 12) * 6);
    background-color: rgb(15, 216, 15);
    height: 5vh;
    text-align: center;
}

